@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Bienvenu(e) sur <b>Insat-Notes Admin</b>. Que voulez vous faire aujourd'hui ?</h3>
   
</div>

<div class="container mt-5">
 <div class=" row">
     







<div class="col-md-2 card" style="width:18rem; margin-right:1cm " >

  <!-- Card image -->
  <img class="card-img-top" src="/images/liste.jpg" alt="Card image cap"  height="300" >

  <!-- Card content -->
  <div class="card-body">
   
    
    <!-- Button -->
    <a href="/student/all" class="btn btn-primary" style="font-size:medium">Consulter liste des étudiants</a>

  </div>

</div>
<div class=" col-md-2 card" style="width:18rem;margin-right:1cm  " >

  <!-- Card image -->
  <img class="card-img-top" src="/images/notes.jpg" alt="Card image cap" height="300" >

  <!-- Card content -->
  <div class="card-body">
   
    
    <!-- Button -->
    <a href="/student/averages" class="btn text-white" style="background-color: #c61118;font-size:medium">Consulter les moyennes </a>

  </div>

</div>

<div class="col-md-2 card" style="width:18rem; margin-right:1cm " >

  <!-- Card image -->
  <img class="card-img-top" src="/images/liste2.jpg" alt="Card image cap"  height="300" >

  <!-- Card content -->
  <div class="card-body">
   
    
    <!-- Button -->
    <a href="/subject/all" class="btn btn-primary" style="font-size:medium">Consulter les matieres</a>

  </div>

</div>
<div class=" col-md-2 card" style="width:18rem  " >

  <!-- Card image -->
  <img class="card-img-top" src="/images/ajout_note.jpg" alt="Card image cap" height="300" >

  <!-- Card content -->
  <div class="card-body">
   
    
    <!-- Button -->
    <a href="/grade/find" class="btn text-white" style="background-color: #c61118;font-size:medium">Gérer les notes des etudiants </a>

  </div>

</div>
 </div>

</div> 
