@model Student
@{
	ViewData["Title"] = "add_student";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text">
	<div class="col-md-8 offset-2">

		<div class="card">


			<div class="card-header text-white bg-primary" style="display:flex;justify-content:space-between;">
				<p class="card-text">
					<h5 class="card-title">
						Ajouter un nouvel étudiant
					</h5>
				</p>

			</div>
			<br />

			@{
				if (ViewBag.ERROR != "")
				{

					<div class="container">
						<div class="alert alert-danger alert-dismissable mt-5" role="alert">
							<strong>@ViewBag.ERROR</strong>

						</div>
					</div>


				}
			}





			<div class="row">
				<div class="col-md-8 offset-2">
					<form asp-action="AddOrEdit" enctype="multipart/form-data">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input type="hidden" asp-for="StudentId" />
						<input type="hidden" asp-for="Photo" />


						<div class="form-group">
							<label asp-for="ImageFile" class="control-label"></label>
							<input asp-for="ImageFile" class="form-control" />
							<span asp-validation-for="ImageFile" class="text-danger"></span>
						</div>

						<div class="form-group">
							<label asp-for="FirstName" class="control-label"></label>
							<input asp-for="FirstName" class="form-control" />
							<span asp-validation-for="FirstName" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="LastName" class="control-label"></label>
							<input asp-for="LastName" class="form-control" />
							<span asp-validation-for="LastName" class="text-danger"></span>
						</div>


						<div class="form-group">
							<label asp-for="Email" class="control-label"></label>
							<input asp-for="Email" class="form-control" />
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Cin" class="control-label"></label>
							<input asp-for="Cin" class="form-control" />
							<span asp-validation-for="Cin" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Level" class="control-label"></label>
							<select asp-for="Level" asp-items="ViewBag.levels" class="form-control"></select>
							<span asp-validation-for="Level" class="text-danger"></span>
						</div>


						<div class="form-group">
							<label asp-for="Filiere" class="control-label"></label>
							<select asp-for="Filiere" asp-items="ViewBag.filieres" class="form-control"></select>
							<span asp-validation-for="Filiere" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Phone" class="control-label"></label>
							<input asp-for="Phone" class="form-control" />
							<span asp-validation-for="Phone" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="DateBirth" class="control-label"></label>
							<input asp-for="DateBirth" type="date" class="form-control" />
							<span asp-validation-for="DateBirth" class="text-danger"></span>
						</div>
						<br>
						<br>

						<div class="form-group row mb-3">
							<div class="col"></div>
							<div class="col-md-2">
								<input type="submit" value="Valider" class="btn btn-danger btn-lg float-right" />

							</div>

						</div>
					</form>
				</div>
			</div>

			<div class="card-footer">
				<p class="card-text">
					<a class="btn btn-outline-primary float-right btn-lg" asp-action="all">
						Retour a la liste des etudiants
					</a>

				</p>
			</div>

		</div>



	</div>
</div>

@section Scripts{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
